// .custom-button {
//     transition: background-color 0.3s ease; /* Smooth transition */
//   }
  
//   .custom-button:hover {
//     filter: brightness(90%); /* Slightly darken on hover */
//   }
  
//   /* Primary (blue) button */
//   .custom-button.btn-primary {
//     background-color: #007bff;
//     border-color: #007bff;
//     color: #fff;
//   }
  
//   /* Danger (red) button */
//   .custom-button.btn-danger {
//     background-color: #dc3545;
//     border-color: #dc3545;
//     color: #fff;
//   }
  
//   /* Success (green) button */
//   .btn-success {
//     background-color: #28a745;
//     border-color: #28a745;
//     color: #fff;
//   }
  
//   /* Secondary (gray) button */
//   .btn-secondary {
//     background-color: #6c757d;
//     border-color: #6c757d;
//     color: #fff;
//   }
  
// .show{
//     collapse: visible !important;
// }

// .accordion-collapse, .accordion-body, .show, .collapse {
// //   max-height: 0;
//   overflow: hidden;
//   $transition-collapse: height .35s ease !default;
//   transition: height 3s ease;
// }

// // .collapse.show {
// //   max-height: 1000px; /* Adjust to a value larger than your content height */
// // }

  
//   .collapse.show {
//     height: auto;
    
//   }
  
  .create-new-child{
    margin-left: 20px !important;
  }

  .accordion-body, #childCreationCollapse, .collapse, .show{
    transition: all 3s ease !important;
  }

  .loading-message{
    padding: 5px;
    background-color: #8bb6f9;
    border: 2px solid #3C81F6;
    border-radius: 20px;
    max-width: 250px;
    color: #fff;
    font-size: 2em;
  }
  
  .submit-react-icon{
    position: absolute;
    right: -3px;
    top: 11px;
  }

  .child-viewing-submit-btn{
    position: relative;
    padding-right: 30px !important;
  }

  .submit-btn-div{
     margin-top: 15px;
  }