.check-mark{
    margin-top: 4px;
    margin-left: 5px;
    font-size: 1.2em;
}

.fade-in {
    -webkit-animation: fadeinout 3s linear forwards; /* Safari and Chrome */
    -moz-animation: fadeinout 3s linear forwards; /* Firefox */
    -o-animation: fadeinout 3s linear forwards; /* Opera */
    -ms-animation: fadeinout 3s linear forwards; /* Internet Explorer */
    animation: fadeinout 3s linear forwards; /* Standard syntax */
  }
  
  @-webkit-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    50% { opacity: 1; }
  }
  
  @-moz-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    50% { opacity: 1; }
  }
  
  @-o-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    50% { opacity: 1; }
  }
  
  @-ms-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%, 100% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    50% { opacity: 1; }
  }

  .shared-data-table-container table td,
  .shared-data-table-container table th {
    white-space: normal; /* Allow wrapping */
  }
