#share-div{
    // border: 2px solid #cccccc;
    // border-radius: 5px;
    padding: 20px
}

.user-image-div{
    background-image: "%PUBLIC_URL%/images/user.jpeg";
}

.user-image{
    opacity: 0.1;
}