
  
  
  .custom-button {
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .custom-button:hover {
    filter: brightness(90%); /* Slightly darken on hover */
  }

  .todo-box{
    background-color: #fff;
  }

input{
    background-color: #fff !important;
  }
  
  /* Primary (blue) button */
 .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  /* Danger (red) button */
  .btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff;
  }
  
  /* Success (green) button */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  /* Secondary (gray) button */
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }
  
  .user-todos-wrapper, .todo-list-container{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    // background-color: #c9c9c9;
  }

  .input-style, .form-input{
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
  }

  .your-todos{
    font-size: 2em;
  }

  .total-todos{
    color: white;
  }

  .create-new-todo{
    margin-left: 20px !important;
  }
 