.red-background{
  background-color: #f96666;
}

.orange-background{
  background-color: #ffa632;
}
  
  
  .custom-button {
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .custom-button:hover {
    filter: brightness(90%); /* Slightly darken on hover */
  }

  .todo-box{
    background-color: #fff;
  }

input{
    background-color: #fff !important;
  }

  .form-label {
    margin-bottom: -2.5rem;
}

.form-control{
  margin-bottom: 10px;
}
  
  /* Primary (blue) button */
 .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  /* Danger (red) button */
  .btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff;
  }

  .btn-danger:hover{
    background-color: #a51824 !important;
  }
  
  /* Success (green) button */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
  }
  
  /* Secondary (gray) button */
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }
  
  .user-todos-wrapper, .todo-list-container{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    // background-color: #c9c9c9;
  }

  .todo-list-container{
    // background-color: #efeded;
  }

  .input-style, .form-input{
    border: 2px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
  }

  .your-todos{
    font-size: 2em;
  }

  .total-todos{
    color: white;
  }

  .create-new-todo{
    margin-left: 20px !important;
  }
 
  .todo-user-name, .todo-name, .todo-card-p{
    text-decoration: underline;
  }

  .loading-message{
    padding: 5px;
    background-color: #8bb6f9;
    border: 2px solid #3C81F6;
    border-radius: 20px;
    max-width: 250px;
    color: #fff;
    font-size: 2em;
  }


  .radio-button{
    margin-left: 20px;
    margin-right: 5px;
  }

  .checkmark-icon-div{
    position: relative;
  }

  .checkmark-icon{
    position: absolute;
    right: 0;
    font-size: 2em;
    margin-top: -11px;
  }

  .todo-viewing-container{
    position: relative;
  }

  .due-status-div strong{
    position: absolute;
    right: -15px;
    text-decoration: underline;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: -16px;
  }

  .todo-item div p{
    margin-top: 15px;
    margin-bottom: 0.1rem;
  }

  .edit-delete-div{
    margin-top: 30px !important;
  }

